* {
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  width: 100%;
}

.sidenav {
  width: 100%;
  height: 50px;
  background-color: #f3f1f1;
  position: fixed;
  bottom: 0;
  opacity: 0.7;
}

footer a {
  color: white;
}

.jane-john a {
  padding-left: 43%;
  margin-top: 20%;
 }

.sidenav .bottom-bar {
  display: flex;
  gap: 5%;
  justify-content: center;
  padding-top: 10px;
}

.sidenav .bottom-bar a {
  text-decoration: none;
}

.gray-color {
  padding: 10px 90px 5px;
  margin-bottom: 5px;
  color: black;
}

.black-color {
  padding: 10px 80px 5px;
  margin-bottom: 5px;
  color: black;
}

.gray-color:hover {
  background-color: #c0c0c0;
}

.black-color:hover {
  background-color: black;
  color: white;
}

.header {
  background-image:  url("/assets/images/jane2.jpg");
  height: 30vh;
  background-size: cover;
  color: white;
  font-size: 30px;
  padding: 30%;
}

.header h1 {
  text-align: center;
}

.header p {
  text-align: center;
  padding-top: 10px;
}

.jane-john {
  background-color: #faeeef;
}

h2 {
  text-align: center;
  padding: 70px 0;
  color: #7f7c7c;
  font-size: 30px;
}

.jane-john img {
  padding-left: 20%;
  margin-bottom: 20px;
}

.jane-john p {
  text-align: center;
  font-style: italic;
  padding: 0 200px;
  margin-bottom: 30px;
}

.buton {
  height: 50px;
  width: 15vw;
  background-color: black;
  border: black;
  color: white;
  font-size: 18px;
  margin-bottom: 70px;
}

.rsvp .buton {
  background-color: #f45656;
  border: #f45656;
}

.jane-john .buton:hover {
  background-color: silver;
  border: silver;
  color: black;
}

.invite {
  background-image: url("/assets/images/img4.jpg");
  height: 50vh;
  background-size: cover;
  text-align: center;
  font-size: 50px;
  color: white;
  padding-top: 20%;
  line-height: 90px;
  margin-bottom: 40px;
}

.invite p {
  font-size: 30px;
  font-style: normal;
}

.wed h3 {
  text-align: center;
  font-size: 50px;
  margin: 60px 0;
  color: #7f7c7c;
}

.wed img {
  width: 70%;
  padding-left: 14%;
}

.time {
  display: flex;
  text-align: center;
  margin: 60px 0;
}

.time h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

.time p {
  font-style: normal;
  font-size: 20px;
}

.rsvp {
  height: 40vh;
  background-color: #f8dbe0;
  padding-top: 8%;
}

.rsvp h5 {
  text-align: center;
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
  padding-bottom: 20px;
}

.rsvp p {
  font-style: normal;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 1px;
}

footer {
  text-align: center;
  color: white;
  height: 70px;
  background-color: black;
  margin-bottom: 15px;
  padding-top: 3%;
}
